.sideMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 16rem; /* w-64 */
  background-color: rgba(0, 0, 0, 0.9); /* bg-black/90 */
  z-index: 10;
  transition: transform 0.3s;
  transform: translateX(-100%);
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  
}

.open {
  transform: translateX(0);
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 20px solid var(--button-secondary);

}

.menuTitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.875rem;
  color: var(--button-secondary);
}

.closeButton {
  color: #9ca3af; /* text-gray-400 */
  font-size: 1.25rem;
}

.closeButton:hover {
  color: white;
}

.sketchList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sketchItem {
  padding: 0.75rem;
  border: 2px solid #3f3f46; /* border-zinc-700 */
  border-radius: 0.25rem;
  cursor: pointer;
  transition: border-color 0.2s;
}

.sketchItem:hover:not(.activeSketch) {
  border-color: #6b7280; /* border-gray-500 */
}

.activeSketch {
  border-color: var(--button-primary);
  background-color: rgba(255, 0, 102, 0.2); /* bg-pink-600/20 */
}

.sketchInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sketchTitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
  color: white;
}

.difficultyLabel {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.easyDifficulty {
  color: #4ade80; /* text-green-400 */
}

.mediumDifficulty {
  color: #facc15; /* text-yellow-400 */
}

.hardDifficulty {
  color: #f87171; /* text-red-400 */
} 