.sideMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 16rem; /* w-64 */
  background-color: var(--color-neutral-900);
  z-index: 10;
  transition: transform 0.3s;
  transform: translateX(-100%);
  padding: 1rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.open {
  transform: translateX(0);
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 20px solid var(--color-accent-secondary);
}

.menuTitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.875rem;
  color: var(--color-accent-primary);
}

.closeButton {
  color: var(--color-neutral-200);
  font-size: 1.25rem;
}

.closeButton:hover {
  color: var(--color-text-primary);
}

.sketchList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sketchItem {
  padding: 0.75rem;
  border: 2px solid var(--color-neutral-700);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: border-color 0.2s;
}

.sketchItem:hover:not(.activeSketch) {
  border-color: var(--color-neutral-300);
}

.activeSketch {
  border-color: var(--color-accent-secondary);
  background-color: rgba(255, 0, 102, 0.2);
}

.sketchInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sketchTitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
  color: var(--color-text-primary);
}

.difficultyLabel {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.easyDifficulty {
  color: var(--color-success);
}

.mediumDifficulty {
  color: var(--color-warning);
}

.hardDifficulty {
  color: var(--color-error);
}
